<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email ejs template</title>
</head>
<body>
    <!-- <%=  %> 사이에 객체의 키값이 들어간다.-->
    <h1>Welcom !! <%= email %></h1>
    <p>HELLO</p>
</body>
</html>